body {
    background-color: antiquewhite;
    font-family: 'Coming Soon', cursive;
}

.background {
    background-color: blanchedalmond;
    background-image: url(Img/gridoffset-videogames-1-1585583517.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: red;
    height: 30vh;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f400aa
}

.top3 {
    transform: translate(-50%, -50%);
    margin-top: 100px;
    position: absolute;
    left: 50%
}

.Pkmn2 {
    background-image: url(Img/pokemon.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    border: 5px solid blue;
    width: 20vw;
    height: 60px;
    position: relative;
    text-align: center;
    left: 560px;
    top: 300px;
}

.Pkmn {
    left: 75px;
    top: -100%;
    position: absolute;
    text-align: center;

}

.knowledge {
    margin: 5px 10px;
    font-size: medium;
    width: 400;
    top: 90px;
    position: absolute;
    right: -75;
    text-align: center;
}

.minecraft {
    background-image: url(Img/MC.png);
    background-position: center;
    background-size: cover;
    border: 5px solid blue;
    width: 20vw;
    margin-top: 200px;
    position: relative;
    height: 95px;
    left: 550px;
    bottom: 285px;
}

.mc {
    left: 50%;
    translate: -50% -50%;
    color: black;
    position: absolute;
    top: -40%;
    padding: 20px 51px;
}

.mcknowledge {
    font-size: small;
    position: absolute;
    top: 100px;
    width: 400;
    margin-left: -40px;
    text-align: center;
}

.Eldens {background-image: url(Img/elden-ring-990x556.png);
    background-position: center;
    background-size: cover;
    border: 5px solid blue;
    width: 20vw;
    margin-top: 200px;
    position: relative;
    height: 135px;
    left: 550;
    bottom: -20px;
    text-align: center;
}

.Elden {
    position: absolute;
    left: 25%;
    width: 115px;
    bottom: 113px;

}



.EldenKnowledge {
    font-size: small;
    position: absolute;
    top: 135px;
    width: 400;
    margin-left: -40px;
}

.DISCLAIMERS {
    background-image: url(Img/Oops.gif);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 30vh;
    width: 30vw;
}
.disclaimer {
    font-size: large;
    position: absolute;
    top: -65px

}